/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

@import url('http://fonts.googleapis.com/css?family=Lato:300,700');

/* ==========================================================================
   Icon font
   ========================================================================== */

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-tsig9t');
    src:url('../fonts/icomoon.eot?#iefix-tsig9t') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?-tsig9t') format('truetype'),
    url('../fonts/icomoon.woff?-tsig9t') format('woff'),
    url('../fonts/icomoon.svg?-tsig9t#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

button:focus {
    outline:0;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

a, a:hover, a:active, a:focus {
    outline: 0;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'Lato', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

section#veil {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #393939;
    opacity: 1;
    z-index: 10000;
}
section#veil.disolve {
    opacity: 0;
    -webkit-transition: opacity 1200ms ease-in-out;
    -moz-transition: opacity 1200ms ease-in-out;
    transition: opacity 1200ms ease-in-out; /* time must match with js timeout for section#veil */
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 72px;
    color: #f0f0f0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2000;
}
.header-container.sticky {
    color: rgb(53, 69, 78);
    background-color: rgb(252, 252, 254);
    background-color: rgba(252, 252, 254, 0.95);
}
.header-container li a {
    display: block;
    width: 95%;
    color: rgb(252, 252, 254);
    text-decoration: none;
    font-size: 16px;
    line-height: 60px;
    margin-right: 5%;
}

.header-container .title {
    position: relative;
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    margin: 0 0 0 32px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 72px;
    z-index: 4000;
}
.header-container.sticky .title {
    visibility: visible;
    opacity: 1;
    transition: opacity 1000ms ease;
}

.header-container .title a {
    font-size: 18px;
    color: #35454e;
    text-decoration: none;
}

.header-container .title a:hover {
    color: #111111;
}

.header-container .title img {
    position: relative;
    top: -2px;
    margin-right: 12px;
}

.header-container #title-svg {
    height: 64px;
}

.header-container #title-svg path {
    fill: #000000;
}

.header-container nav {
    position: absolute;
    top: 0;
    width: 100%;
    line-height: 68px;
    z-index: 3000;
}

.header-container nav .menu-toggle {
    text-align: right;
    width: 40%;
    padding-right: 5%;
    margin-left: 55%;
    cursor: pointer;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    -o-user-select: none;
    user-select: none;
}

.header-container nav .menu-toggle .open-menu {
    font-size: 2em;
}

.header-container nav .menu-toggle .close-menu {
    display: none;
    font-size: 1.6em;
}

.header-container nav ul {
    margin: 0;
    padding: 0;
    display: none;
}

.header-container nav ul li {
    opacity: 0;
    visibility: hidden;
    text-align: right;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
}

.header-container nav.unfold ul {
    display: block;
}

.header-container nav.unfold ul li {
    opacity: 1;
    visibility: visible;
}
.header-container nav.unfold ul li:nth-of-type(1) {
    transition: opacity 500ms ease 0ms;
}
.header-container nav.unfold ul li:nth-of-type(2) {
    transition: opacity 500ms ease 60ms;
}
.header-container nav.unfold ul li:nth-of-type(3) {
    transition: opacity 500ms ease 120ms;
}
.header-container nav.unfold ul li:nth-of-type(4) {
    transition: opacity 500ms ease 180ms;
}
.header-container nav.unfold ul li:nth-of-type(5) {
    transition: opacity 500ms ease 240ms;
}
.header-container nav.unfold ul li:hover {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.95);
    font-weight: 600;
}

.header-container nav.unfold .menu-toggle .open-menu {
    display: none;
}

.header-container nav.unfold .menu-toggle .close-menu {
    display: block;
}

section#main {
    z-index: 1000;
}

section#landing,
section.page-block {
    /* position is set to relative in main.js */
    min-height: 400px;
}

section#landing {
    position: relative;
    background: url('../img/bgs/landing-bg01.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section#landing .logo-big {
    position: absolute;
    top: 30%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

section.page-block {
    padding: 80px 0;
}

.page-block-fixed {
    position: relative;
}
.page-block-fixed .floating-fixed-block {
    position: relative;
}
.page-block-fixed .floating-fixed-block.fixed {
    position: fixed;
    top: 80px;
    left: 10%;
    right: 10%;
}

section.page-block h2 {
    text-align: center;
    font-size: 2.4em;
    line-height: 1em;
    font-weight: 300;
    text-transform: uppercase;
}
section.page-block hr {
    margin: 40px 30% 30px;
}

section.page-block .block-content.one-col {
    max-width: 1200px;
    margin: 0 auto;
}

section.page-block .block-content.one-col p {
    padding: 0 1.4em;
}

section.page-block#gallery {
    background-color: #393939;
    color: #f1f1f1;
    padding: 120px 0 80px 0;
}

section.page-block#gallery h2 {
    margin: 0 0 52px 0;
    text-align: center;
}

section.page-block#artists {
    background-color: #f1f1f1;
}


section.page-block#about {
    background-color: #f1f1f1;
}

section.page-block#about h3 {
    text-align: center;
    font-weight: 300;
    font-size: 1.3em;
}

section.page-block#about hr {
    margin-top: 30px;
}

section.page-block#about .svg-flower {
    position: absolute;
    top: 160px;
    width: 60%;
    margin: 0 20%;
}

section.page-block#about .block-content {
    padding-top: 6%;
    width: 80%;
    margin: 0 auto;
}

section.page-block#about p {
    font-size: 1.1em;
    line-height: 1.4em;
}

section.page-block#contact {
    background-color: #393939;
    color: #f1f1f1;
    position: relative;
}

section.page-block#contact .block-text,
section.page-block#contact .block-svg {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center
}

section.page-block#contact .block-info {
    margin-bottom: 60px;
}

section.page-block#contact .block-text {
    position: relative;
    min-height: 260px;
}

section.page-block#contact .contact-info {
    width: 280px;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 35px;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.6em;
    text-align: left;
}

section.page-block#contact .contact-info a {
    display: block;
    color: #F0F0F0;
    text-decoration: none;
    border-radius: 4px;
}

section.page-block#contact .contact-info a:hover {
    background-color: #494949;
    transition: all 400ms ease;
}

section.page-block#contact .contact-info a:hover i {
    color: #F0F0F0;
    transition: all 200ms ease;
}

section.page-block#contact .info-item {
    position: relative;
    margin-bottom: 4px;
    padding: 6px 6px 6px 36px;
    line-height: 28px;
    color: #F0F0F0;
}

section.page-block#contact .info-item i {
    position: absolute;
    top: 12px;
    left: 8px;
    color: #606060;
}

section.page-block#contact .info-item i.icon-old-phone {
    top: 11px;
}

section.page-block#contact .contact-map {
    width: 60%;
    height: 60%;
    margin: 0 auto;
}

section.page-block#contact .contact-map svg {
    width: 100%;
    height: 100%;
}

section.page-block#artists h2 {
    margin: 0 0 52px 0;
    text-align: center;
}

section.page-block#artists ul.artist-list {
    list-style: none;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

section.page-block#artists li.artist-info {
    margin-bottom: 40px;
    text-align: center;
}

section.page-block#artists li.artist-info img {
    width: 300px;
    height: 300px;
    background-color: #393939;
    margin-bottom: 20px;
}

section.page-block#artists li.artist-info .name {
    font-size: 1.4em;
    margin-bottom: 8px;
    text-transform: uppercase;
}

section.page-block#artists li.artist-info .desc {
    font-size: 1.1em;
    margin-bottom: 4px;
}

section.page-block#artists li.artist-info a {
    color: #595959;
    text-decoration: none;
    transition: color 400ms ease 60ms;
}

section.page-block#artists li.artist-info a:hover {
    color: #292929;
}

section.page-block#artists .social-links i {
    font-size: 1.6em;
    margin: 0 10px;
}

section.page-block#guest-artists {
    background-color: #393939;
    color: #f1f1f1;
    position: relative;
}

section.page-block#guest-artists a {
    color: #f1f1f1;
}

section.page-block#books {
    background-color: #f1f1f1;
    position: relative;
}

section.page-block#books a {
    color: black;
}

section.page-block#guest-artists hr,
section.page-block#books hr {
    margin-bottom: 50px;
}

section.page-block#guest-artists p,
section.page-block#books p {
    margin-bottom: 32px;
}

section.page-block#guest-artists a,
section.page-block#books a {
    display: block;
    text-align: center;
}

section.page-block#guest-artists a:hover,
section.page-block#books a:hover {
    text-decoration: none;
}

/* ==========================================================================
   Gallery (s)
   ========================================================================== */

.thumb {
    float: left;
}

.img-crop {
    width: 260px;
    height: 260px;
    overflow: hidden;
    margin: 8px auto;
    border: 8px solid #202020;
}

.img-crop img {
    width: 260px;
    height: auto;
    vertical-align: middle;
}

.thumb figure {
    position: relative;
}

.thumb figure .thumb-veil {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .33);
}

.thumb figure:hover .thumb-veil {
    opacity: 1;
    transition: all 400ms ease;
}

.thumb figure .thumb-veil i {
    color: #e0e0e0;
    font-size: 2em;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50% 50%;
}

.gallery-grid {
    width: 300px;
    margin: 0 auto 40px;
    padding: 0;
}

.gallery-grid li {
    text-align: center; /* centering images */
    width: 100%;
}
.gallery-grid li img {
    margin-bottom: 40px;
}

.gallery-grid li .author {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0px 10px 0 10px;
    font-size: 12px;
    color: #FFF;
    background-color: rgba(32, 32, 32, 0.9);
}

.gallery-grid li.gallery-more {
    width: 100%;
    margin: 40px auto 0;
    text-align: center;
}

#gallery ul.gallery-grid.show-all li.gallery-more {
    display: none;
}

.gallery-grid li.gallery-more button {
    font-family: 'lato';
    width: 200px;
    background-color: #202020;
    color: #D0D0D0;
    border: none;
    border-bottom: 3px solid #101010;
    border-radius: 4px;
    padding: 6px 32px;
    text-transform: uppercase;
}

.gallery-grid li.gallery-more button:active {
    margin-top: 2px;
    border-bottom: 1px solid #101010;
}

#gallery .sel-wrapper {
    width: 100%;
    text-align: center;
}

#gallery ul.artist-toggle {
    width: 300px;
    padding: 0;
    margin: 0 auto 24px;
    list-style: none;
}

#gallery ul.artist-toggle li {
    display: inline-block;
    float: left;
    width: 50%;
    padding: 8px 0;
    border-bottom: 2px solid #333333;
    text-transform: capitalize;
    cursor: pointer;
}

#gallery ul.artist-toggle li.selected,
#gallery ul.artist-toggle li:hover {
    border-bottom: 2px solid #f1f1f1;
}

#gallery ul li,
#gallery ul.selected-all li.thumb-more {
    display: none;
}

#gallery ul.selected-all li,
#gallery ul.selected-all.show-all li.thumb-more {
    display: inline-block;
}

#gallery ul.selected-anibal li.artist-anibal {
    display: inline-block;
}
#gallery ul.selected-johe li.artist-johe {
    display: inline-block;
}
#gallery ul.selected-michael li.artist-michael {
    display: inline-block;
}
#gallery ul.selected-robbin li.artist-robbin {
    display: inline-block;
}
#gallery ul.selected-victor li.artist-victor {
    display: inline-block;
}

/* ==========================================================================
   Svg
   ========================================================================== */

#svg-flower path {
    stroke: #717171;
    stroke-width: 2px;
    opacity: .2;
    filter: alpha(opacity=20);
}
#svg-tiger path {
    stroke: #808080;
    stroke-width: 1px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */


/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    .oldie nav a {
        margin: 0 0.7%;
    }

    section.page-block {
        padding: 80px 10%;
    }

/* ==========================================================================
   Gallery (m)
   ========================================================================== */

}
@media only screen and (min-width: 620px) {
}
@media only screen and (min-width: 720px) {
    #gallery ul.artist-toggle {
        width: 560px;
    }
    .gallery-grid {
        width: 640px;
    }
    .gallery-grid li {
        width: 50%;
    }
}
@media only screen and (min-width: 960px) {

    .header-container nav .menu-toggle {
        display: none;
    }

    .header-container nav ul {
        display: block;
        text-align: right;
    }

    .header-container nav ul li {
        display: inline;
        opacity: 1;
        visibility: visible;
        background: none;
    }

    .header-container li a {
        display: inline;
        margin: 0;
        padding: 0 24px;
    }

    .header-container.sticky li a {
        color: rgb(53, 69, 78);
    }
    .header-container li a:hover {
        color: rgb(252, 252, 254);
    }
    .header-container.sticky li a:hover {
        color: rgb(53, 69, 78);
    }

    section.page-block#contact .contact-info {
        width: 50%;
        margin-right: 280px;
        padding-top: 40px;
        font-size: 1.2em;
        line-height: 2em;
        text-align: left;
    }

    section.page-block#contact .contact-map {
        position: absolute;
        top: 5%;
        right: 0;
        width: 50%;
        height: 90%;
    }

    #gallery ul.artist-toggle {
        width: 100%;
    }

    #gallery ul.artist-toggle li {
        float: none;
        width: auto;
        margin: 0 8px;
        padding: 4px 20px;
    }
}
@media only screen and (min-width: 1024px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }

    section.page-block#about .svg-flower {
        top: 80px;
        left: -6%;
        width: 38%;
        margin: 0;
    }

    section.page-block#about .svg-flower path {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    section.page-block#about .block-content {
        padding-top: 2%;
        width: 62%;
        margin-left: 38%;
    }

    section.page-block#artists li.artist-info {
        width: 49%;
        display: inline-block;
    }

    .gallery-grid {
        width: 960px;
    }
    .gallery-grid li {
        width: 33.3%;
    }

    /* ==========================================================================
   Gallery (l)
   ========================================================================== */
}
@media only screen and (min-width: 1260px) {
    .gallery-grid {
        width: 1160px;
    }
    .gallery-grid li {
        width: 25%;
    }
}
@media only screen and (min-width: 1600px) {
    section#landing {
        background-size: 100%;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Icon font
   ========================================================================== */

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-with-circle-down:before {
    content: "\e600";
}
.icon-resize-full-screen:before {
    content: "\e601";
}
.icon-cross:before {
    content: "\e602";
}
.icon-location:before {
    content: "\e603";
}
.icon-mail:before {
    content: "\e604";
}
.icon-menu:before {
    content: "\e605";
}
.icon-old-phone:before {
    content: "\e606";
}
.icon-facebook:before {
    content: "\e607";
}
.icon-instagram:before {
    content: "\e608";
}
