/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

@import url('http://fonts.googleapis.com/css?family=Lato:300,700');

/* ==========================================================================
   Icon font
   ========================================================================== */

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix-mw2y74') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg?#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'Lato', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

section#veil {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #393939;
    opacity: 1;
    z-index: 10000;
}
section#veil.disolve {
    opacity: 0;
    -webkit-transition: opacity 1200ms ease-in-out;
    -moz-transition: opacity 1200ms ease-in-out;
    transition: opacity 1200ms ease-in-out; /* time must match with js timeout for section#veil */
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: rgb(53, 69, 78);
    z-index: 2000;
}
.header-container.sticky {
    background-color: rgba(252, 252, 254, 0.95);
}
.header-container a {
    color: rgb(252, 252, 254);
    text-decoration: none;
    font-size: 16px;
    line-height: 50px;
    padding: 0 24px;
}
.header-container.sticky a {
    color: rgb(53, 69, 78);
}
.header-container a:hover {
    color: rgb(252, 252, 254);
}
.header-container.sticky a:hover {
    color: rgb(53, 69, 78);
}

.header-container .title {
    display: none;
}
.header-container.sticky .title {
    display: inline-block;
    margin: 0 0 0 32px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 72px;
}

.header-container #title-svg {
    height: 64px;
}

.header-container #title-svg path {
    fill: #000000;
}

.header-container nav {
    position: absolute;
    top: 0;
    right: 32px;
    display: none;
    line-height: 68px;
}

.header-container nav ul {
    margin: 0;
    padding: 0;
}

section#main {
    z-index: 1000;
}

section#landing,
section.page-block {
    /* position is set to relative in main.js */
    min-height: 400px;
}

section#landing {
    position: relative;
    background: url('../img/bgs/landing-bg01.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section#landing .logo-big {
    position: absolute;
    top: 30%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    margin: auto;
    text-align: center;
}

section.page-block {
    padding: 80px 10%;
}

.page-block-fixed {
    position: relative;
}
.page-block-fixed .floating-fixed-block {
    position: relative;
}
.page-block-fixed .floating-fixed-block.fixed {
    position: fixed;
    top: 80px;
    left: 10%;
    right: 10%;
}

section.page-block h2 {
    text-align: center;
    font-size: 2.4em;
    line-height: 1em;
    font-weight: 300;
    text-transform: uppercase;
}
section.page-block hr {
    margin: 40px 30% 30px;
}

section.page-block#gallery {
    background-color: #393939;
    color: #f1f1f1;
    padding: 120px 0 80px 0;
}

section.page-block#gallery h2 {
    margin: 0 0 52px 0;
    text-align: center;
}

section.page-block#artists {
    background-color: #f1f1f1;
}


section.page-block#about {
    background-color: #f1f1f1;
}

section.page-block#about h3 {
    text-align: center;
    font-weight: 300;
    font-size: 1.3em;
}

section.page-block#about .svg-flower {
    position: absolute;
    top: 160px;
    width: 60%;
    margin: 0 20%;
}

section.page-block#about .block-content {
    padding-top: 6%;
    width: 80%;
    margin: 0 auto;
}

section.page-block#about p {
    font-size: 1.2em;
    line-height: 1.8em;
}

section.page-block#contact {
    background-color: #393939;
    color: #f1f1f1;
    position: relative;
}

section.page-block#contact .block-text,
section.page-block#contact .block-svg {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center
}

section.page-block#contact .block-info {
    margin-bottom: 60px;
}

section.page-block#contact .block-text {
    position: relative;
    min-height: 260px;
}

section.page-block#contact .contact-info {
    width: 300px;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 35px;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.6em;
    text-align: left;
}

section.page-block#contact .contact-info a {
    color: #808080;
    text-decoration: none;
}

section.page-block#contact .contact-info a.small {
    font-size: .9em;
}

section.page-block#artists h2 {
    margin: 0 0 52px 0;
    text-align: center;
}

section.page-block#artists ul.artist-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

section.page-block#artists li.artist-info {
    margin-bottom: 40px;
    text-align: center;
}

section.page-block#artists li.artist-info img {
    width: 300px;
    height: 300px;
    background-color: #393939;
    margin-bottom: 20px;
}

section.page-block#artists li.artist-info .name {
    font-size: 1.4em;
    margin-bottom: 8px;
    text-transform: uppercase;
}

section.page-block#artists li.artist-info .desc {
    font-size: 1.1em;
    margin-bottom: 4px;
}

section.page-block#artists li.artist-info a {
    color: #595959;
    text-decoration: none;
}

section.page-block#artists li.artist-info a:hover {
    color: #292929;
}

section.page-block#artists li.artist-info .email {
    position: relative;
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 8px;
}

section.page-block#artists li.artist-info .email i {
    position: relative;
    top: 2px;
    margin-right: 6px;
}

section.page-block#artists .social-links i {
    font-size: 1.6em;
    margin: 0 10px;
}


/* ==========================================================================
   Gallery (s)
   ========================================================================== */

.thumb {
    float: left;
}

.img-crop {
    width: 260px;
    height: 260px;
    overflow: hidden;
    margin: 8px;
    border: 8px solid #202020;
}

.img-crop img {
    width: 260px;
    height: auto;
    vertical-align: middle;
}

.thumb figure {
    position: relative;
}

.thumb figure .thumb-veil {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .33);
}

.thumb figure:hover .thumb-veil {
    opacity: 1;
    transition: all 400ms ease;
}

.thumb figure .thumb-veil i {
    color: #e0e0e0;
    font-size: 2em;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50% 50%;
}

.gallery-grid {
    width: 320px;
    margin: 0 auto 40px;
    padding: 0;
}

.gallery-grid li {
    text-align: center; /* centering images */
}
.gallery-grid li img {
    margin-bottom: 40px;
}

.gallery-more {
    margin: 0 auto;
    text-align: center;
}

.gallery-more button {
    font-family: 'lato';
    background-color: #202020;
    color: #FFF;
    border: none;
    padding: 6px 32px;
    text-transform: uppercase;
}

#gallery .sel-wrapper {
    width: 100%;
    text-align: center;
}

#gallery ul.artist-toggle {
    padding: 0;
    margin: 0 0 24px 0;
    list-style: none;
}

#gallery ul.artist-toggle li {
    display: inline-block;
    margin: 0 8px;
    padding: 2px 12px;
    cursor: pointer;
}

#gallery ul.artist-toggle li.selected,
#gallery ul.artist-toggle li:hover {
    border-bottom: 2px solid #f1f1f1;
}

#gallery ul.selected-anibal .artist-victor,
#gallery ul.selected-anibal .artist-javier {
    display: none;
}

#gallery ul.selected-victor .artist-anibal,
#gallery ul.selected-victor .artist-javier {
    display: none;
}

#gallery ul.selected-javier .artist-anibal,
#gallery ul.selected-javier .artist-victor {
    display: none;
}

/* ==========================================================================
   Svg
   ========================================================================== */

#svg-flower path {
    stroke: #717171;
    stroke-width: 2px;
    opacity: .2;
    filter: alpha(opacity=20);
}
#svg-tiger path {
    stroke: #808080;
    stroke-width: 1px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    .header-container nav {
        display: block;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }

/* ==========================================================================
   Gallery (m)
   ========================================================================== */

}
@media only screen and (min-width: 620px) {
    .gallery-grid {
        width: 584px;
    }
}
@media only screen and (min-width: 960px) {
    .gallery-grid {
        width: 876px;
    }

    section.page-block#contact .contact-info {
        width: 100%;
        margin-right: 280px;
        padding-top: 40px;
        font-size: 1.2em;
        line-height: 2em;
        text-align: left;
    }

    section.page-block#contact .contact-map {
        position: absolute;
        top: 0;
        right: 0;
    }

}
@media only screen and (min-width: 1024px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }

    section.page-block#about .svg-flower {
        top: 80px;
        left: -6%;
        width: 38%;
        margin: 0;
    }

    section.page-block#about .svg-flower path {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    section.page-block#about .block-content {
        padding-top: 2%;
        width: 60%;
        margin-left: 40%;
    }

    section.page-block#artists li.artist-info {
        width: 49%;
        display: inline-block;
    }

    /* ==========================================================================
   Gallery (l)
   ========================================================================== */
}
@media only screen and (min-width: 1260px) {
    .gallery-grid {
        width: 1168px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Icon font
   ========================================================================== */

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\e986";
}

.icon-zoom-in:before {
    content: "\e987";
}

.icon-circle-down:before {
    content: "\ea43";
}

.icon-mail:before {
    content: "\ea83";
}

.icon-google:before {
    content: "\ea87";
}

.icon-google-plus:before {
    content: "\ea88";
}

.icon-google-plus2:before {
    content: "\ea89";
}

.icon-google-plus3:before {
    content: "\ea8a";
}

.icon-facebook:before {
    content: "\ea8c";
}

.icon-facebook2:before {
    content: "\ea8d";
}

.icon-facebook3:before {
    content: "\ea8e";
}

.icon-instagram:before {
    content: "\ea90";
}

.icon-twitter:before {
    content: "\ea91";
}

.icon-twitter2:before {
    content: "\ea92";
}

.icon-twitter3:before {
    content: "\ea93";
}
