/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

@import url('http://fonts.googleapis.com/css?family=Lato:300,700');

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'Lato', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

section#veil {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #393939;
    opacity: 1;
    z-index: 10000;
}
section#veil.disolve {
    opacity: 0;
    -webkit-transition: opacity 1200ms ease-in-out;
    -moz-transition: opacity 1200ms ease-in-out;
    transition: opacity 1200ms ease-in-out; /* time must match with js timeout for section#veil */
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: rgb(53, 69, 78);
    z-index: 2000;
}
.header-container.sticky {
    background-color: rgba(252, 252, 254, 0.95);
}
.header-container a {
    color: rgb(252, 252, 254);
    text-decoration: none;
    font-size: 16px;
    line-height: 50px;
    padding: 0 24px;
}
.header-container.sticky a {
    color: rgb(53, 69, 78);
}
.header-container a:hover {
    color: rgb(252, 252, 254);
}
.header-container.sticky a:hover {
    color: rgb(53, 69, 78);
}

.header-container .title {
    display: none;
}
.header-container.sticky .title {
    display: inline-block;
    margin: 0 0 0 32px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.header-container #title-svg {
    height: 64px;
}

.header-container #title-svg path {
    fill: #000000;
}

.header-container nav {
    position: absolute;
    top: 0;
    right: 32px;
    display: none;
    line-height: 68px;
}

.header-container nav ul {
    margin: 0;
    padding: 0;
}

section#main {
    z-index: 1000;
}

section#landing,
section.page-block {
    /* position is set to relative in main.js */
    min-height: 400px;
}

section#landing {
    position: relative;
    background: url('../img/bgs/landing-bg01.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section#landing .logo-big {
    position: absolute;
    top: 30%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    margin: auto;
    text-align: center;
}

section.page-block {
    padding: 80px 10%;
}

.block-content-right {
    width: 55%;
    margin-left: 45%;
}
.block-content-left {
    width: 66%;
    margin-right: 34%;
}

.svg-aside {
    width: 38%;
    position: absolute;
    top: 80px;
    text-align: center;
}

.svg-aside-left {
    left: 0;
}

.svg-aside-right {
    right: 0;
}

.page-block-fixed {
    position: relative;
}
.page-block-fixed .floating-fixed-block {
    position: relative;
}
.page-block-fixed .floating-fixed-block.fixed {
    position: fixed;
    top: 80px;
    left: 10%;
    right: 10%;
}

section.page-block h2 {
    text-align: center;
    font-size: 2.4em;
    font-weight: 300;
    text-transform: uppercase;
}
section.page-block hr {
    margin: 40px 30% 30px;
}

section.page-block#gallery {
    background-color: #393939;
    color: #f1f1f1;
    padding: 120px 0 80px 0;
}

section.page-block#gallery h2 {
    margin: 0 0 52px 0;
    text-align: center;
}

section.page-block#about {
    background-color: #f1f1f1;
}

section.page-block#about h3 {
    text-align: center;
    font-weight: 300;
    font-size: 1.3em;
}

section.page-block#about .block-content-right {
    padding-top: 6%;
}

section.page-block#contact {
    background-color: #f1f1f1;
    color: #393939;
    position: relative;
}

section.page-block#contact .block-content-left {
    padding-top: 8%;
}

div.footer-container {
    background-color: #393939;
}

div.footer-container h3 {
    margin: 0;
    color: #f1f1f1;
     line-height: 50px;
}

/* ==========================================================================
   Gallery (s)
   ========================================================================== */

.thumb {
    float: left;
}

.img-crop {
    width: 260px;
    height: 260px;
    overflow: hidden;
    margin: 8px;
    border: 8px solid #202020;
}

.img-crop img {
    width: 260px;
    height: auto;
    vertical-align: middle;
}

.gallery-grid {
    width: 320px;
    margin: 0 auto 40px;
    padding: 0;
}

.gallery-grid li {
    text-align: center; /* centering images */
}
.gallery-grid li img {
    margin-bottom: 40px;
}

.gallery-more {
    margin: 0 auto;
    text-align: center;
}

.gallery-more button {
    font-family: 'lato';
    background-color: #202020;
    color: #FFF;
    border: none;
    padding: 6px 32px;
    text-transform: uppercase;
}

#gallery .sel-wrapper {
    width: 100%;
    text-align: center;
}

#gallery ul.artist-toggle {
    padding: 0;
    margin: 0 0 24px 0;
    list-style: none;
}

#gallery ul.artist-toggle li {
    display: inline-block;
    margin: 0 8px;
    padding: 2px 12px;
    cursor: pointer;
}

#gallery ul.artist-toggle li.selected,
#gallery ul.artist-toggle li:hover {
    border-bottom: 2px solid #f1f1f1;
}

#gallery ul.selected-anibal .artist-victor,
#gallery ul.selected-anibal .artist-javier {
    display: none;
}

#gallery ul.selected-victor .artist-anibal,
#gallery ul.selected-victor .artist-javier {
    display: none;
}

#gallery ul.selected-javier .artist-anibal,
#gallery ul.selected-javier .artist-victor {
    display: none;
}

/* ==========================================================================
   Svg
   ========================================================================== */

#svg-flower path {
    stroke: #717171;
    stroke-width: 2px;
}
#svg-tiger path {
    stroke: #808080;
    stroke-width: 2px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    .header-container nav {
        display: block;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }

/* ==========================================================================
   Gallery (m)
   ========================================================================== */

}
@media only screen and (min-width: 620px) {
    .gallery-grid {
        width: 584px;
    }
}
@media only screen and (min-width: 960px) {
    .gallery-grid {
        width: 876px;
    }
}
@media only screen and (min-width: 1024px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }

    /* ==========================================================================
   Gallery (l)
   ========================================================================== */
}
@media only screen and (min-width: 1260px) {
    .gallery-grid {
        width: 1168px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
